<body>
  <div id="content">
    <h1>Alphabetized customers</h1>
    <p><%= link_to "Go back to index", root_path %></p>
    <%= render partial: 'customers/customer', collection: @customers %>
  </div>
</body>
