<h1>All customers</h1>
<p><%= link_to "Alphabetized", customers_alphabetized_path %></p>
<p><%= link_to "Missing email", customers_missing_email_path %></p>
<%= render partial: 'customers/customer', collection: @customers %>
